# Week 14 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [10]:
%matplotlib inline
import pandas as pd

hhcaps = pd.read_csv('https://hds5210-data.s3.amazonaws.com/hhcaps.csv')

## #01 -

How many columns does this file contain?

In [11]:
# Write some code to figure it out
len(hhcaps.columns)

39

In [12]:
answers={}
answers['40.1'] = 39 # NOTE: Use a number, not string to answer this question

## #02 -

How many different values for State are there in this file?

In [13]:
# Write some code to figure it out
len(hhcaps['State'].unique())

55

In [14]:
answers['40.2'] = 55 # NOTE: Use a number, not a string to answer this question

## #03 -

Which of those State values has the highest frequency of occurence?

In [15]:
# Write some code to figure it out
hhcaps['State'].value_counts()

State
TX    2518
CA    1319
FL    1069
OH     781
IL     735
MI     597
PA     425
MA     261
OK     256
VA     244
IN     229
MN     197
LA     195
CO     187
NC     174
AR     172
AZ     169
MO     169
IA     163
AL     152
NV     143
NY     141
TN     140
WI     119
KS     117
GA     106
KY     104
UT      98
CT      91
NM      77
NE      75
SC      70
WA      63
WV      61
OR      57
MD      53
MS      48
NJ      47
ID      45
PR      45
SD      33
NH      31
DC      28
MT      27
RI      27
WY      26
DE      26
ME      24
ND      18
HI      16
AK      14
VT      11
GU       4
MP       2
VI       1
Name: count, dtype: int64

In [16]:
answers['40.3'] = "TX"

## #04 -

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [17]:
# Write some code to figure it out
hhcaps.groupby('State')['Star Rating for health team communicated well with them'].mean().sort_values(ascending=False).head(1)

State
ME    4.65
Name: Star Rating for health team communicated well with them, dtype: float64

In [18]:
answers['40.4'] = "ME"

## #05 -

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [19]:
# Write some code to figure it out
hhcaps[hhcaps['Type of Ownership'] == 'Hospital Based Program']['Star Rating for how patients rated overall care from agency'].mean()

3.6925207756232687

In [20]:
answers['40.5'] = 3.69 # NOTE: Write answer as number in form N.NN (No additional digits)

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below.

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [21]:
import pickle

data = b"\x80\x04\x95?\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x0440.1\x94K'\x8c\x0440.2\x94K7\x8c\x0440.3\x94\x8c\x02TX\x94\x8c\x0440.4\x94\x8c\x02ME\x94\x8c\x0440.5\x94G@\r\x85\x1e\xb8Q\xeb\x85u."
result = pickle.loads(data)

for key in result:
  if answers[key] == result[key]:
    print(f"Question {key} is CORRECT")
  else:
    print(f"Question {key} is INCORRECT")

Question 40.1 is CORRECT
Question 40.2 is CORRECT
Question 40.3 is CORRECT
Question 40.4 is CORRECT
Question 40.5 is CORRECT

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to save this notebook file back to GitHub.  To do that in Google Colab:
1. File -> Save a Copy in GitHub
2. Make sure your HDS5210 repository is selected
3. Make sure the file name includes the week number like this: `week14/week14_assignment_1.ipynb`
4. Add a commit message that means something

**Be sure week names are lowercase and use a two digit week number!!**

**Be sure you use the same file name provided by the instructor!!**